<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button>
      <img src='/assets/menu2-2.png'>
    </ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-right>
        <ion-icon class="minus" name="remove-circle-outline"></ion-icon>
      </ion-col>
      <ion-col text-center>
        <span class="span-text">1</span>
        <img src="/assets/drop-1-7.png" alt="" class="drop">
      </ion-col>
      <ion-col text-left>
        <ion-icon class="plus" name="add-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col text-center>
      <img src="/assets/cane-1.png" class="cane-img" />
    </ion-col>
  </ion-row>

  <div text-center>
    <button class="ion-activatable deliver-btn">
      Deliver Now
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
  </div>
</ion-content>